@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  background-color: #f6f6f6;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.header, main, .footer {
  max-width: 1980px;
  margin: auto;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-ai-c {
  align-items: center;
}

.loader {
  height: 100%;
  width: 100%;
  z-index: 1001;
  position: fixed;
  background-color: #9356DC;
  -webkit-animation: loader 0.5s linear;
          animation: loader 0.5s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.loader-text {
  color: #FF79DA;
  font-family: "Shrikhand", cursive;
  font-size: 34px;
}
.loader-text::before {
  content: attr(data-content);
  position: absolute;
  overflow: hidden;
  max-width: 200px;
  color: white;
  -webkit-animation: loading-text 3s linear;
          animation: loading-text 3s linear;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes loading-text {
  from {
    max-width: 0;
  }
  to {
    max-width: 200px;
  }
}
@keyframes loading-text {
  from {
    max-width: 0;
  }
  to {
    max-width: 200px;
  }
}
.btn {
  height: 50px;
  width: 220px;
  margin: 33px auto;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
}
.btn:hover {
  background-image: linear-gradient(0deg, rgba(146, 86, 220, 0.694), rgba(255, 121, 217, 0.78));
}

.btn-bg-gray {
  background-color: #f6f6f6;
}

.heart-icon {
  position: absolute;
  right: 14px;
  cursor: pointer;
}
.heart-icon:hover::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  background: linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  position: relative;
  -webkit-animation: apparition-heart 0.5s;
          animation: apparition-heart 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes apparition-heart {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes apparition-heart {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.header {
  position: relative;
  z-index: 1000;
}
.header nav {
  padding: 15px;
  box-shadow: 0 0 8px gray;
  text-align: center;
}
.header__arrow {
  font-size: 20px;
  position: absolute;
  left: 2rem;
  top: 35%;
}
.header__logo img {
  height: 30px;
}

.footer {
  height: 196px;
  background-color: #353535;
  padding: 0 22px;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  margin: 0;
  color: white;
  font-size: 16px;
  padding: 26px 0;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
}
.footer__list__elem {
  line-height: 1.7;
}
.footer__list__elem__icon1 {
  margin-right: 10px;
}
.footer__list__elem__icon2 {
  margin-right: 5px;
}

.location {
  text-align: center;
  font-size: 16px;
  color: #353535;
  background-color: #EAEAEA;
  padding: 19px 0;
}
.location::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
  padding-right: 19px;
}

.slogant {
  background-color: #F7F7F7;
  height: 289px;
}
.slogant__title, .slogant__description {
  text-align: center;
  margin: auto;
}
.slogant__description {
  width: 306px;
}
.slogant__title {
  width: 250px;
  padding-top: 45px;
  padding-bottom: 10px;
}

.function {
  padding: 22px 22px 40px 22px;
  background-color: white;
}
.function__list {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 25px;
  counter-reset: count;
}
.function__list__elem {
  position: relative;
  padding: 25px;
  height: 74px;
  width: 100%;
  background-color: #F7F7F7;
  border-radius: 20px;
  box-shadow: 4px 4px 8px gray;
}
.function__list__elem__icon {
  margin-right: 16px;
  color: #7E7E7E;
}
.function__list__elem__icon-active {
  color: #9356DC;
}
.function__list__elem:last-child {
  background-color: #f2eafb;
}
.function__list__elem::before {
  counter-increment: count 1;
  content: counter(count) " ";
  background: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -10px;
}

.restaurant {
  padding: 0 22px 64px 22px;
  background-color: #F7F7F7;
}
.restaurant__title {
  margin: 0;
  padding-top: 62px;
  padding-bottom: 28px;
}
.restaurant__cards {
  gap: 0px;
}
.restaurant__cards__elem {
  border-radius: 20px;
  box-shadow: 4px 4px 8px gray;
  margin-bottom: 18px;
  position: relative;
  min-width: 288px;
  width: 100%;
}
.restaurant__cards__elem__img {
  height: 192px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__cards__elem__label {
  background-color: #99e2d0;
  border-radius: 4px;
  color: #1b6150;
  padding: 8px;
  position: absolute;
  top: 16px;
  right: 12px;
}
.restaurant__cards__elem__footer {
  border-radius: 0 0 20px 20px;
  padding: 20px 0 20px 14px;
}
.restaurant__cards__elem__footer__description__title {
  margin: 0;
}

@media (min-width: 1024px) {
  .function__list {
    flex-direction: row;
  }
  .restaurant__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
    align-items: center;
  }
  .restaurant {
    height: 100%;
  }
}
.menu .container__menu {
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  max-width: 1280px;
  margin: -64px auto 0 auto;
}
.menu .container__menu-variante {
  margin: -150px auto 0 auto;
}
.menu .container__submenu {
  gap: 10px;
}
.menu .menu__hero {
  width: 100%;
  max-height: 528px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu .menu__header {
  background-color: #F6F6F6;
  z-index: 1000;
  padding: 24px 32px 0 16px;
  border-radius: 30px 30px 0px 0px;
}
.menu .menu__header__title {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
}
.menu .menu__starter, .menu .menu__dish, .menu .menu__desert {
  padding: 0 16px;
}
.menu .menu__starter__title, .menu .menu__dish__title, .menu .menu__desert__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
}
.menu .menu__starter__title::after, .menu .menu__dish__title::after, .menu .menu__desert__title::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.menu .menu__starter__elem, .menu .menu__dish__elem, .menu .menu__desert__elem {
  margin: 16px 0;
  background-color: white;
  box-shadow: 4px 4px 8px gray;
  border-radius: 16px;
  line-height: 1.5;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: slideUp 1s forwards;
          animation: slideUp 1s forwards;
}
.menu .menu__starter__elem__text, .menu .menu__dish__elem__text, .menu .menu__desert__elem__text {
  min-width: 0;
  padding: 15px 10px;
  width: 100%;
}
.menu .menu__starter__elem__text__title, .menu .menu__dish__elem__text__title, .menu .menu__desert__elem__text__title {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.menu .menu__starter__elem__text__description, .menu .menu__starter__elem__text__price, .menu .menu__dish__elem__text__description, .menu .menu__dish__elem__text__price, .menu .menu__desert__elem__text__description, .menu .menu__desert__elem__text__price {
  margin: 0;
}
.menu .menu__starter__elem__text__description, .menu .menu__dish__elem__text__description, .menu .menu__desert__elem__text__description {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.menu .menu__starter__elem__text__price, .menu .menu__dish__elem__text__price, .menu .menu__desert__elem__text__price {
  font-weight: bold;
}
.menu .menu__starter__elem .check-icon, .menu .menu__dish__elem .check-icon, .menu .menu__desert__elem .check-icon {
  width: 0;
  height: -webkit-fit;
  height: -moz-fit;
  border-radius: 0 16px 16px 0;
  background-color: #99e2d0;
  transition: width 0.8s;
}
.menu .menu__starter__elem .check-icon > i, .menu .menu__dish__elem .check-icon > i, .menu .menu__desert__elem .check-icon > i {
  color: white;
  padding: 40px 30px;
  transform: rotate(-360deg);
}
.menu .menu__starter__elem:hover .check-icon, .menu .menu__starter__elem:active .check-icon, .menu .menu__dish__elem:hover .check-icon, .menu .menu__dish__elem:active .check-icon, .menu .menu__desert__elem:hover .check-icon, .menu .menu__desert__elem:active .check-icon {
  width: 100px;
  transition: width 0.8s;
}
.menu .menu__starter__elem:hover .check-icon > i, .menu .menu__starter__elem:active .check-icon > i, .menu .menu__dish__elem:hover .check-icon > i, .menu .menu__dish__elem:active .check-icon > i, .menu .menu__desert__elem:hover .check-icon > i, .menu .menu__desert__elem:active .check-icon > i {
  transform: rotate(0);
  opacity: 1;
  transition: opacity 0.5s, transform 0.8s;
}
@-webkit-keyframes slideUp {
  from {
    transform: translatey(20px);
    opacity: 0%;
  }
  to {
    transform: translatey(0px);
    opacity: 100%;
  }
}
@keyframes slideUp {
  from {
    transform: translatey(20px);
    opacity: 0%;
  }
  to {
    transform: translatey(0px);
    opacity: 100%;
  }
}
.menu .menu__starter__elem:nth-child(1), .menu .menu__dish__elem:nth-child(1), .menu .menu__desert__elem:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.menu .menu__starter__elem:nth-child(2), .menu .menu__dish__elem:nth-child(2), .menu .menu__desert__elem:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.menu .menu__starter__elem:nth-child(3), .menu .menu__dish__elem:nth-child(3), .menu .menu__desert__elem:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.menu .menu__starter__elem:nth-child(4), .menu .menu__dish__elem:nth-child(4), .menu .menu__desert__elem:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.menu .menu__starter__elem:nth-child(5), .menu .menu__dish__elem:nth-child(5), .menu .menu__desert__elem:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.menu .menu__dish {
  margin: 0;
}
.menu .menu__desert__elem {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .container__submenu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
  }
  .menu__dish, .menu__desert, .menu__starter {
    width: 100%;
    min-width: 243px;
  }
  .menu__desert {
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=style.css.map */