//flex

.flex{
    display: flex;

    &-col {
        flex-direction: column;
    }

    &-wrap{
        flex-wrap: wrap;
    }

    &-jc-c{
        justify-content: center;
    }

    &-jc-sb{
        justify-content: space-between;
    }

    &-ai-c{
        align-items: center;
    }
}