.menu{
    .container__menu{
        margin-top: -64px;
        border-radius: 32px 32px 0 0;
        background-color: #f6f6f6;
        z-index: 1;
        position: relative;
        max-width: 1280px;
        margin: -64px auto 0 auto;
    }

    .menu__hero{
        width: 100%;
        max-height: 528px;
        object-fit: cover;  
    }
    
    .menu__header{
        background-color: #F6F6F6;
        z-index: 1000;
        padding: 24px 32px 0 16px;
        border-radius: 30px 30px 0px 0px;
        &__title{
            font-family: 'Shrikhand', cursive;
            font-size : 24px;
        }
    }

    .menu__starter,.menu__dish,.menu__desert{
        padding: 0 16px;
        
        &__title{
            text-transform: uppercase;
            position: relative;
            padding-bottom:8px;
            font-weight: 400;
            font-size: 18px;
        }

        &__title::after{
            content: "";
            width: 48px;
            height: 4px;
            background-color: #99e2d0;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        &__elem{
           
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding: 10px 20px 10px 10px;
            margin : 16px 0;

            background-color: white;
            box-shadow: 4px 4px 8px gray;
            border-radius: 16px;

            line-height: 1.5;
            cursor: pointer;

            // ------------------
            overflow: hidden;
            .check-icon{
                position: absolute;
                right: 0;
                top: 0;
                border-radius: 0 16px 16px 0;
                width: 0;
                height: 100%;
                background-color: #99e2d0;
                & > i{
                    display: none;
                    color: white;
                    transform: rotate(180deg);
                    animation: rotation-icon 1s;
                    animation-fill-mode: both;
                    @keyframes rotation-icon {
                        from{
                            transform: rotate(180deg);
                        }to{
                            transform: rotate(0);
                        }
                    }
                }
            }

            &:hover .check-icon{
                & > i{
                    display: block;
                }
                animation: change-width 1s ease;
                animation-fill-mode: both;
                @keyframes change-width {
                    from{
                        width: 0;
                    }to{
                        width: 100px;
                    }
                }
            }

            &:hover .prix{
                position: relative;
                right : 100px;
                transition: right 1s;
            }

            // -------------

            opacity: 0;
            animation: slideUp 1s forwards;
            &:nth-child(1){animation-delay: 0.1s;}
            &:nth-child(2){animation-delay: 0.2s;}
            &:nth-child(3){animation-delay: 0.3s;}
            &:nth-child(4){animation-delay: 0.4s;}
            &:nth-child(5){animation-delay: 0.5s;}

            @keyframes slideUp {
                0% {
                    transform: translatey(20px);
                    opacity: 0%;
                }
                
                100% {
                    transform: translatey(0px);
                    opacity: 100%;
                }
            }

            // ------------

            &__title{
                margin: 0;
            }

            &__footer{
                flex: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &__description,&__price{
                    margin: 0;
                }

                &__price{
                    font-weight: bold;
                    //------------
                    position: relative;
                    right : 0;
                }  
            }
        }
    }   

    .menu__dish{
        margin: 32px 0;   
    }
    
    .menu__desert__elem{
        margin-bottom: 0;  
    }
}

@media (min-width: 1024px){
        .container__submenu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu__dish,.menu__desert,.menu__starter{
       width: 100%;
        min-width: 243px;
    }

    .menu__desert{
        margin-bottom: 16px;  
    }   
}
